/1c
/acivity_user.ps1
/clear_cashe.ps1
/deepseek_powershell_20250429_2ade37.ps1
/deploy.ps1
/deploy1c.ps1
/deploy_27.ps1
/deploy_Am - Copy.ps1
/deploy_Am.ps1
/deploy_kkt.ps1
/deploy_kkt_1c_man.ps1
/deploy_kkt_an.ps1
/deploy_KKT_GP_AM.ps1
/deploy_KKT_GP_AS.ps1
/deploy_kkt_mn.ps1
/deploy_kkt_sc.ps1
/deploy_kkt_sn.ps1
/deploy_KKT_su.ps1
/deploy_kkt_trm.ps1
/deploy_mn.ps1
/deploy_sc.ps1
/deploy_sn.ps1
/deploy_su.ps1
/exch.ps1
/find_cert.ps1
/hv_proc.ps1
/install.ps1
/new
/newuser.ps1
/pcname.ps1
/pcname_ps5.ps1
/pcname_ps7.ps1
/Send_Mail_biolink.ps1
/Statuskkt.ps1
/Statuskktfs.ps1
/Status_KKT_1c.ps1
/test.ps1
/test2.ps1
/test3.ps1
/test4.ps1
/testpc.ps1
/test_smtp.ps1
/video.ps1
/write_ok.ps1